<div id="<%= dom_id habitant %>">
  <p>
    <strong>Name:</strong>
    <%= habitant.name %>
  </p>

  <p>
    <strong>type:</strong>
    <%= habitant.type %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= habitant.personality %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= habitant.birthday %>
  </p>

  <p>
    <strong>Photo:</strong>
    <img src="<%= habitant.photo %>">
    
  </p>

</div>
